.carrousel {
  position: relative;
  margin-top: 1rem;
}
.conteCarrousel {
  width: 300%;
  display: flex;
  align-items: center;
  transition: all .5s;
}

.itemCarrousel {
  padding: 0 4rem;
  z-index: 0;
}

.itemCarrousel > img {
  width: 100%;
  max-height: 50%;
}

.right, .left {
  position: absolute;
  top: 45%;
  cursor: pointer;
  font-size: 4rem;
}

.left {
  left: 1%;
}

.right {
  right: 1%;
}
