
@import url("https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,600,700&display=swap");

*{
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: "Work Sans";
    font-size: 10px;
}
body{
    position: relative;
    font-size: 1.6rem;
}
header{
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to right, #23272C 60%, #FFFFFF);
    min-height: 10vh;
    padding: 1rem;
    box-shadow: 1px 1px 10px ;
    border-bottom: 0.2rem solid black;
}
.logo {
    width: 100%;
    max-width: 100px;
    filter: invert(1) brightness(2);
    margin-left: 1rem;
}
.logoContainer {
    width: 5%;
    min-width: 80px;
    max-width: 100px;
}
.brand {
    width: 100%;
    filter: invert(1) brightness(2);
}
.brandContainer {
    display: flex;
    align-items: center;
    width: 15%;
    max-width: 500px;
}
main {
    min-height: 85vh;
}
header img{
    padding: 1rem;
    object-fit:contain;
}
a{
    text-decoration: none;
    font-weight:bold;
    color: black;
}

.login{
    display: flex;
    align-items: center;
    margin-right: 1.5rem;
}

.login div:first-child {
    font-size:x-large;
}    


.login div:last-child {
    display: flex ;
    flex-direction: column;
    padding-left: 1.6rem;
}

.seccionCategorias {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: white;
    opacity: 1;
    padding: 1.5rem 0;
    border-bottom: 0.2rem solid #23272C;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 4px;
}

.listaCategorias {
    width: 60%;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 auto;
    padding: 0;
}

.botonCategoria {
    margin: 0.8rem 0;
}

.botonCategoria a {
    font-size: 2rem;
    font-weight: 500;
    border: 1px solid #23272C;
    padding: .5rem 1.5rem;
    border-radius: 1rem;
    cursor: pointer;
    transition: all .3s;
}

.botonCategoria a:hover, .active {
    background-color: #23272C;
    color: white;
}



footer{
    font-family: sans-serif;
    font-size: 1rem;
    font-weight: normal;
    color: white;
    width: 100%;
    padding: 2rem;
    border-top: 1px solid rgba(128, 128, 128, 0.5);
    background-color: #23272C;
    position: static;
    bottom: 0;
}

